
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #eeecda;
    display: flex;
}

.book-list{
    margin-top: 7%;
    margin-left: 5%;
    position: absolute;
    flex-wrap: wrap;
    align-items: center;
    display: flex;
}

.book-item{
    display: flex;
    text-align: center;
    margin: 15px;
    border: 3px solid #5d4954;
    box-shadow: 5px 10px 18px #888888;  
    background-color: #f7f7f7;
    /* text-align: center; */
}

.book-item h3{
    margin: 15px;
    opacity: 0.5;
}

.book-item p{
    padding: 7px 20px;
}

.book-image{
    width: 200px;
    height: 350px;
    margin: 10px 0 10px 20px;
    border: 1px solid #5d4954;
    opacity: 0.5;
    /* display: flex; */
}

.book-item:hover{
    cursor: pointer;
    transform: translate(0,-5px);
    /* box-shadow: 5px 10px 18px #888888; */
    /* transform: translate(-15%); */
}

.book-item:hover .book-image{
    opacity: 1;
}

.book-item:hover h3{
    opacity: 1;
}

.book-image:hover{
    /* transform: translate(30%); */
    transition: ease-out;
    box-shadow: 1px 1px #8888;
    transition: transform .3s;
}

.book-description{
    width: 200px;
}

.book-description h3{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.2rem;
}

.book-description p {
    font-family: 'Montserrat', sans-serif;
    color: #3b6978;
}

/* navbar */

.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.nav-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 57px;
    background-color: #5d4954;
}

.logo{
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 3px;
    cursor: pointer;
    font-family: 'Open Sans Condensed', sans-serif;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links a{
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 14px;
}

.nav-item{
    list-style: none;
}

a:link{
    text-decoration: none;
}

.burger div{
    width: 25px;
    height: 5px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
}

.burger{
    display: none;
}

@media screen and (max-width: 750px){
    body{
        overflow-x: hidden;
    }

    .nav-links{
        position: absolute;
        right: 0px;
        height: 500px;
        background-color: #5d4954;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }


    .nav-item{
        opacity: 0;
    }

    .burger{
        display: block;
        cursor: pointer;
    }
}

.footer{
    background-color: #eeecda;
    text-align: center;
    color: #5d4954;
    height: 70px;
    /* margin-top: 65%; */
    align-items: center;
}
.icon{
    font-size: 1.5rem;
    margin: 9px 5px;
}

.icon:hover{
    cursor: pointer;
}

