* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar */

.nav-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 57px;
    background-color: #5d4954;
    position: sticky;
}

.logo{
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 3px;
    cursor: pointer;
    font-family: 'Open Sans Condensed', sans-serif;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links a{
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 14px;
}

.nav-item{
    list-style: none;
}

a:link{
    text-decoration: none;
}

.burger div{
    width: 25px;
    height: 5px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
}

.burger{
    display: none;
}

@media screen and (max-width: 750px){
    body{
        overflow-x: hidden;
    }

    .nav-links{
        position: absolute;
        right: 0px;
        height: 500px;
        background-color: #5d4954;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }


    .nav-item{
        opacity: 0;
    }

    .burger{
        display: block;
        cursor: pointer;
    }
}

/* section 1 */

.intro{
    height: 600px;
    background-color: #eeecda;
    position: relative;
}

.main-heading{
    font-size: 3rem;
    letter-spacing: 7px;
    color: #5d4954;
    padding: 20px;
    border: 2px solid black;
    border-color: black;
    display: flex;
    text-align: center;
    margin-left: 40%;
    margin-top: 20%;
    position: absolute;
    font-family: 'Open Sans Condensed', sans-serif;
}


/* animation */


.animation{
    width: 100%;
    height: 100%;
}

.animation div{
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.7);
}

.animation div:nth-child(2n + 0){
    background-color: transparent;
    border: 4px solid #5d4954;
}

.animation div:nth-child(1){
    top: 20%;
    left: 50%;
    width: 30px;
    height: 30px;
}

.animation div:nth-child(2){
    top: 50%;
    left: 20%;
    transform: rotate(45deg);
}

.animation div:nth-child(3){
    top: 40%;
    left: 30%;
}

.animation div:nth-child(4){
    top: 10%;
    left: 60%;
    transform: rotate(30deg);
}

.animation div:nth-child(5){
    top: 20%;
    left: 10%;
    width: 35px;
    height: 35px;
}

.animation div:nth-child(6){
    top: 80%;
    left: 70%;
    transform: rotate(35deg);
}

.animation div:nth-child(7){
    top: 60%;
    left: 80%;
}

.animation div:nth-child(8){
    top: 80%;
    left: 10%;
    height: 40px;
    width: 40px;
    transform: rotate(35deg);
}

.animation div:nth-child(9){
    top: 70%;
    left: 40%;
}

.animation div:nth-child(10){
    top: 20%;
    left: 80%;
    transform: rotate(35deg);
}