* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 57px;
    background-color: #5d4954;
}

.logo{
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    font-size: 20px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links a{
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 14px;
}

.nav-item{
    list-style: none;
}

a:link{
    text-decoration: none;
}

.burger div{
    width: 25px;
    height: 5px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
}

.burger{
    display: none;
}