* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* min-height: 8vh; */
    background-color: #5d4954;
}

.logo{
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    font-size: 20px;
}